---
---
<html>
  <head>
	<meta http-equiv="refresh" content="0;url=/" />
	<meta name="robots" content="noindex" />
	<title>Redirecting…</title>
  </head>
  <body>
	<p>Redirecting to <a href="/">home</a>…</p>
	<script>location.replace('/');</script>
  </body>
</html>
